@mixin font-app-title {
  font-family: Impact;
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
}

@mixin font-title {
  font-family: 'inter';
  font-size: 2rem;
  font-weight: 700;
}

@mixin font-menu-item {
  font-family: 'inter';
  font-size: 1.5rem;
  font-weight: 700;
}

@mixin font-part-name {
  font-family: 'inter';
  font-size: 14px;
  font-weight: 500;
}

@mixin font-part-price {
  font-family: 'inter';
  font-size: 14px;
  font-weight: 400;
}

@mixin font-label {
  font-family: 'inter';
  font-size: 1rem;
  font-weight: 600;
}

@mixin font-customer-name {
  font-family: 'inter';
  font-size: 1.25rem;
  font-weight: 700;
}

@mixin font-customer-info($font-weight) {
  font-family: 'inter';
  font-size: 14px;
  font-weight: $font-weight;
}