@use "../../assets/scss/main.scss" as *;

.customer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: $input-background-color;
  border-radius: 8px;
  padding: 12px;
  width: 100%;
  border: 2px solid $secondary-color;
  box-shadow: $button-box-shadow;
  color: $secondary-color;

  span:has(ion-icon) {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out;

    &.open {
      transform: rotate(180deg);
    }

    ion-icon {
      font-size: 24px;
    }
  }

  .customer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      @include font-customer-name;
    }
  }

  .customer-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;

    h3 {
      @include font-customer-name;
    }

    .info-content {
      display: flex;
      flex-direction: column;
      gap: 12px;

      .info-line {
        display: flex;
        flex-direction: column;
        gap: 8px;

        h4 {
          @include font-customer-info(700);
        }

        p {
          @include font-customer-info(500);
        }
      }
    }

    .parts-container {
      display: flex;
      flex-direction: column;
      gap: 12px;

      .parts-container-top {
        display: flex;
        justify-content: space-between;

        .right {
          display: flex;
          gap: 8px;
        }
      }

      .parts-list {
        display: flex;
        flex-direction: column;
        gap: 24px;
      }
    }

    .buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 1;
      gap: 4px;
      width: 100%;

      .buttons-menu {
        padding: 8px;
      }
    }

    .buttons-dropdown {
      display: flex;
      flex-direction: column;
      gap: 8px;
      width: 100%;
    }

    .price-accept {
      display: flex;
      align-items: center;
      justify-content: space-between;
      input[type="checkbox"] {
            appearance: none;
            border: 2px solid $background-color;
            background-color: transparent;
            width: 24px;
            height: 24px;
            border-radius: 3px;
            color: $background-color;
            font: inherit;
            display: grid;
            place-content: center;

            &::before {
              content: "\2714";
              width: 20px;
              height: 20px;
              transform: scale(0);
              transform-origin: bottom left;
              transition: 120ms transform ease-in-out;
              color: $background-color;
              text-align: center;
            }

            &:checked::before {
              transform: scale(1);
            }

            &:checked {
              border: $input-border;
              background-color: $primary-color;
            }
          }
    }
  }
}
