.customer-page {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  width: 100%;

  .customer-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    max-width: 390px;

  }
}