@use '../../assets/scss/main' as *;

.customer-page {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  width: 100%;

  .customer-group-top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      font-size: 30px;
      cursor: pointer;
    }
  }

  .buttons-dropdown {
    display: flex;
    gap: 8px;
    flex-direction: column;


  }

  h1 {
    @include font-title;
  }

  .customer-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    max-width: 390px;

  }
}