@use "../../assets/scss/main" as *;

.alert-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  background-color: $transparent-background-color;

  .alert-modal-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $background-color;
    border: $input-border;
    box-shadow: $button-box-shadow;
    padding: 20px 24px;
    border-radius: 12px;
    z-index: 1000;
    width: 100%;
    max-width: 340px;

    .buttons {
      display: flex;
      justify-content: flex-end;
      gap: 24px;

      @include font-button;
    }
  }
}
