@use '../../assets/scss/main.scss' as *;

.FormPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;

  h1 {
    @include font-form-title;
  }

  &.error {
    background-color: $error-color;
    color: $secondary-color;
    justify-self: center;
    width: 60%;
    border-radius: 16px;
    padding: 20px;

    p {
      @include font-label;
    }

    a {
      color: $marked-color;
    }
  }

  .vacation {
    @include font-label;
    border-radius: 16px;
    background-color: $secondary-color;
    border: 4px solid $error-color;
    padding: 20px;
    width: 100%;
    max-width: 340px;
  }
}