@use "../../assets/scss/main" as *;

.sms-modal {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  background-color: $transparent-background-color;

  .sms-modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 340px;
    background-color: $background-color;
    border: $input-border;
    box-shadow: $button-box-shadow;
    padding: 20px 24px;
    border-radius: 12px;
    z-index: 1000;
    color: #fff;
    @include font-label;
    display: flex;
    flex-direction: column;
    gap: 24px;

    .price-sms {
      display: flex;
      flex-direction: column;
      gap: 12px;

      button {
        display: flex;
        align-self: end;
      }
    }

    .done-sms {
      display: flex;
      flex-direction: column;
      gap: 16px;

      .input-row {
        display: flex;
        gap: 12px;
        align-items: center;

        select {
          padding: 8px 12px;
          border-radius: 8px;
          border: $input-border;
        }
      }

    }
  }
}